
.mdal-btn{
    border: 2px solid #05c8fa;;
    color:#05c8fa;
    cursor:pointer;
    height:35px;
    width:120px;

    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.mdal-btn:hover{
    background-color:#05c8fa;;
    color:#fff;
}

.contact-strip{
    background-color: #525252;;
    padding: 20px;
}

.contact-strip .uk-grid .cta-strip-btn{
    color: #05c8fa;;
    cursor: pointer;
    height: 50px;
    width: 150px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.contact-strip .uk-grid .cta-strip-btn:hover{
    color: #fff;
    background-color: #05c8fa;;
}

 .bg-intro {
     background: rgba(249, 242, 235, 0.27);
     PADDING: 30PX;
 }


.f-color{
    color:#2BB6E4;
}


.f-16{
    font-size: 16px;
}





#contact-form1-section{
    background: url('../img/clouds.png') center no-repeat;
    background-position: 0% 50%;
    height: 666px;
    padding-top: 5%;
}


.form-title{
    font-size: 30px;
    color: #565a5c;
    text-align: center;
}


#contact-form1-section .form-group{
    margin: 20px 0;
}


#contact-form1-section .form-group input{
    padding: 20px;
    background-color: transparent;
    width: 60%;
    box-sizing: border-box;

}


#contact-form1-section.form-group.submit-btn{
    width: 60%;
    background-color: #05c8fa;;
    color: #fff;
    border: none;
    cursor: pointer;

}

.footer-submit-btn{
    background-color: #05c8fa;;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 13px;
}

.submit-btn{
    background-color: #05c8fa;;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 60%;
}


#contact-modal-section{
    background: url('../img/clouds.png') center no-repeat;
    background-position: 0% 50%;
    height: 500px;
    padding-top: 7%;
}


.form-title{
    font-size: 30px;
    color: #565a5c;
    text-align: center;
}


#contact-modal-section .form-group{
    margin: 20px 0;
}


#contact-modal-section .form-group input{
    padding: 20px;
    background-color: transparent;
    width: 60%;
    box-sizing: border-box;

}


#contact-modal-section.form-group.submit-btn{
    width: 60%;
    background-color: #05c8fa;;
    color: #fff;
    border: none;
    cursor: pointer;

}

.m-t-100{
    margin-top: 100px;
}

#footer-section.footer-social-icons li{
   list-style-type: none;
    display: inline-block;

}
.footer-sub-section-1 li a{
    text-decoration: none;
    font-size: 16px;
}
.footer-sub-section-1 li a:hover{
    color: #00c7fa;
}


.fold-form-title{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.form-bg{
    background: rgba(255, 255, 255, 0.74);
    padding: 20px;
    margin-bottom: 30px!important;
}


.title::after{
    display: block;
    margin: 20px auto 10px;
    width: 10%;
    height: 4px;
    background-color: #8cdfff;
    background-color: rgba(140,223,255,.8);
    content: '';
    line-height: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

}
.footer-about{
    font-size: 16px;
    text-align: left !important;
    line-height: 1.6em;
    word-spacing: 4px;
    margin-top: 18px;
}




#contact-form1-section .form-group button.submit-btn{
    background-color: #05c8fa;
    width: 60%;
    border: none;
    color: #fff;
}





#intro-section > +  h1 , h3 , p {
    color: #fff;

}

.intro-section-title h1{
    font-size: 3.5em;
    line-height: 1.6em;
}

.feature-box p {
    height: 165px;
    overflow: hidden;

}

#our-services-section {
    background-color: #fafafa;
}



@media screen and (max-width: 768px){
    .service-bg{
        height: 100%;
    }

    .intro-section-bg{
        margin-top: 50px;
    }



}